<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="SebTech_Blog::blog" title="SebTech Blog">
                    <resource id="SebTech_Blog::blog_create" title="Create" />
                    <resource id="SebTech_Blog::blog_update" title="Update" />
                    <resource id="SebTech_Blog::blog_delete" title="Delete" />
                </resource>
            </resource>
        </resources>
    </acl>
</config>
